<!DOCTYPE html>

<html>




<head>
<title>proyecto 2</title>
</head>

<body>
<h1>Bienvenido a la interfaz</h1> 
<p>seleccione el archivo</p>

<input type="file" id="archivo">
<button onclick="enviar()">Procesar</button>

<script>
    function enviar() {
        // 1. Tomamos el archivo
        let archivo = document.getElementById('archivo').files[0];
        let datos = new FormData();
        datos.append('archivo', archivo);

        // 2. Lo enviamos al servidor
        fetch('http://127.0.0.1:5000/procesar', {
            method: 'POST',
            body: datos
        })
        .then(res => res.json())
        .then(data => alert(data.resultado)); // Muestra el resultado en una alerta
    }
</script>

</body>




</html>
